


<!-- <div class="container" style="background-color: aquamarine;">
    <div class="row" style="font-size: larger;">

    <h1 style="text-align: center;  background-color: burlywood;">Welcome Admin Page </h1>
   </div><br><br>
      <div class="row">
    <button type="button" routerLink="userList">Manage Users</button><br>
    <button type="button" routerLink="medicineList">Manage Medicine</button><br>
    <button type="button"  routerLink="/home">Logout</button> 
    </div>
</div> -->



  
<div class="container" style="text-align: center;">
  <div class="row"  style="text-align: center;  background-color: rgb(135, 222, 145);" >
  <h1 >Welcome Admin Page </h1>
  </div>
  <br><br><br>
<div>
  <button type="button" class="btn btn-info"routerLink="userList">Manage Users</button>
  <button type="button" class="btn btn-primary"routerLink="medicineList">Manage Products</button>
  <button type="button" class="btn btn-danger" routerLink="/home">Logout</button>
</div>
</div>